@import url("reset.css");
/* pc */
.wrap {
    width: 100%;
}
/* header */
header {
    width: 100%;
    height: 180px;
    margin-top: 50px;
    margin-top: 2.6041%;
    padding: 0 10%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menuToggleBtn {
    display: none;
}
header .gnb ul {
    text-align: right;
}
header .gnb ul li {
    display: inline-block;
    margin-left: 50px;
}
header .gnb ul li a {
    padding: 2% 0;
    font-weight: bold;
    color: #a5a5a5;
    transition: 0.5s;
}
header .gnb ul li:hover a {
    color: #c00000c5;
}
/* section common*/
section {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    transform: translateY(0);
    transition: 0.8s ease-out;
}
section .inner{
    width: 75%;
    margin: 0 auto;
    padding: 230px 0 0;
    overflow: hidden;
}
section .inner .subCopy{
    color: #fff;
    text-align: center;
}
section .inner .subCopy h2{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 18px;
}
section .inner .subCopy p{
    color: #bbb;
    line-height: 1.5em;
}
section .inner .viewBtn{
    text-align: center;
    margin-top: 2%;
}
section .inner .viewBtn a{
    display: inline-block;
    padding: 10px 5px;
    position: relative;
    color: #fff;
    font-size: 14px;
    transform: translateX(-100%);
    opacity: 0.5;
    transition: .35s;
}
section .inner .viewBtn a::before{
    width: 50px;
    height: 1px;
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    right: -56px;
    top: 50%;
}
section .inner .viewBtn a::after{
    width: 10px;
    height: 1px;
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    right: -56px;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(45deg);
}
section .inner .viewBtn a:hover{
    opacity: 1;
    transform: translateX(0%);
}
/* main */
.main{
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main::after{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.main video{
    height: 100%;
    transform: scale(1.5);
}
.main .mainCopy{
    width: 40%;
    text-transform: uppercase;
    font-family:"netflix";
    text-align: center;
    position: absolute;
    z-index: 5;
}
.main .mainCopy span{
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
}
.main .mainCopy .mainup{
    display: inline-block;
    transform: translateY(130%);
    animation: mainup 1s forwards;
}
@keyframes mainup{
    100%{
        transform: translateY(0%);
    }
}
.main .mainCopy span:nth-child(1),
.main .mainCopy span:nth-child(2){
    font-size: 80px;
    opacity: .5;
}
.main .mainCopy span:nth-child(1) .mainup:nth-child(2){
    margin: 0 15px;
}
.main .mainCopy span:nth-child(3) .mainup{
    margin-right: 20px;
}
.main .mainCopy span:nth-child(3),
.main .mainCopy span:nth-child(4){
    font-size: 130px;
}
.main .mainCopy span .mainup{
    color: #fff;
}
.main::before {
    display: block;
    content: "";
    width: 22px;
    height: 65px;
    background: url("../img/icon/scroll_down.png") no-repeat center center/contain;
    position: absolute;
    left: calc(50% - 11px);
    bottom: 2%;
    z-index: 5;
    animation: scroll 0.5s 0.2s alternate infinite ease-in-out;
}
@keyframes scroll {
    100% {
        margin-bottom: 1%;
    }
}
/* tralers */
.trailers{
    z-index: 40;
    background: url('../img/back_02.jpg') no-repeat center center/ cover;
}
.trailers .inner{
    padding: 290px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trailers .trailersMedia{
    width: 50%;
    align-self: center;
}
.trailers .trailersMedia video{
    width: 100%;
}
.trailers .inner .subCopy{
    width: 50%;
    margin-top: 2%;
}
.trailers .inner .subCopy p{
    color: #bbb;
    font-size: 26px;
}
.trailers .inner .subCopy span{
    display: block;
    width: 80%;
    margin: 6% auto 0;
    color: #bbb;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.5em;
}
/* characters */
.characters{
    z-index: 30;
    background: url('../img/back_03.jpg') no-repeat center center/ cover;
}
.characters .inner .subCopy h2{
    margin-bottom: 30px;
}
.characters .characterInfo{
    width: 100%;
}
.characters .inner .characterInfo ul{
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.characters .inner .characterInfo ul li {
    width: 23%;
    transition: all 0.25s ease-in;
}
.characters .inner .characterInfo ul li:nth-child(even){
    margin-top: 60px;
}
.characters .inner .characterInfo ul li:hover{
    transform: translateY(-15px);
}
.characters .inner .characterInfo ul li img{
    width: 90%;
}
.characters .inner .characterInfo ul li span{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #fbb74d;
}
.characters .inner .characterInfo .characterBtn{
    display: none;
}
/* gallery */
.gallery{
    z-index: 20;
    background: url('../img/back_04.jpg') no-repeat center center/ cover;    
}
.gallery .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .gallerySlide{
    width: 100%;
    margin-top: 120px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.gallery .gallerySlide .mainImg{
    width: 50%;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery .gallerySlide .mainImg img{
    display: block;
    width: 90%;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}
.gallery .gallerySlide .mainImg.active{
    animation: gallery .35s;
}
@keyframes gallery{
    0%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.gallery .gallerySlide .mainImg .galleryBtn{
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.gallery .gallerySlide .mainImg .galleryBtn a{
    width: 20px;
    height: 30px;
    float: right;
    background: url("../img/icon/characters_arrow.png")no-repeat right center/cover;
    opacity: .6;
    transition: .35s;
}
.gallery .gallerySlide .mainImg .galleryBtn .galleryPrev{
    float: left;
    background: url("../img/icon/characters_arrow.png")no-repeat left center/cover;
}
.gallery .gallerySlide .mainImg .galleryBtn .galleryPrev:hover{
    opacity: 1;
}
.gallery .gallerySlide .mainImg .galleryBtn .galleryNext:hover{
    opacity: 1;
}
.gallery .gallerySlide .secondImg{
    width: 90%
}
.gallery .gallerySlide .secondImg.next{
    animation: next .35s;
}
.gallery .gallerySlide .secondImg.prev{
    animation: prev .35s;
}
@keyframes next{
    0%{
        transform: translateX(-10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes prev{
    0%{
        transform: translateX(10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.gallery .gallerySlide .secondImg img{
    width: 28%;
    float: left;
    filter: brightness(70%) blur(1px);
}
.gallery .gallerySlide .secondImg img:nth-of-type(2){
    float: right;
}
.gallery .inner .viewBtn{
    margin-top: 6%;
}
/* leftnav */
.leftNav {
    position: fixed;
    left: 10%;
    bottom: 12%;
    z-index: 100;
}
.leftNav ul{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.leftNav ul li a {
    text-indent: -9999px;
    width: 18px;
    height: 18px;
    opacity: 0.6;
    background: url("../img/icon/left_nav_icon.png") no-repeat left center/cover;
}
.leftNav ul li a:hover {
    opacity: 0.8;
    background-image: url("../img/icon/left_nav_hover.png");
}
.leftNav ul li:nth-child(2) a {
    background-position: 49% center;
}
.leftNav ul li:nth-child(3) a {
    background-position: 97% center;
}
/* right nav */
.rightNav {
    position: fixed;
    right: 5%;
    bottom: 35%;
    z-index: 100;
}
.rightNav span {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 26px;
    cursor: pointer;
}
.rightNav span:hover {
    background: #c00000;
}
.rightNav span.backRed {
    background: #c00000;
}
/* footer */
footer {
    position: fixed;
    left: 10%;
    bottom: 8%;
    z-index: 100;
}

footer p {
    color: #676767;
    font-weight: 100;
    font-size: 14px;
}
/* tablet */
@media all and (max-width: 1024px){
    section .inner{
        width: 70%;
        margin: 0 auto;
        padding: 190px 0 0;
        overflow: hidden;
    }
    section .inner .subCopy{
        text-align: center;
    }
    section .inner .viewBtn {
        position: static;
        width: 90px;
        margin: 20px auto 0;
        overflow: hidden;
    }
    /* main */
    .main .mainCopy{
        width: 50%;            
        left: calc(50% - 25%);
        top: 24%;
    }
    /* trailers */
    .trailers .inner{
        padding: 220px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .trailers .inner .trailersMedia {
        width: 85%;
        margin: 60px 0 20px;
    }
    .trailers .inner .subCopy span{
        display: none;
    }
    .trailers .viewBtn{
        position: static;
    }
    /* characters */
    .characters .inner .subCopy p{
        width: 80%;
        margin: 0 auto;
    }
    .characters .inner .subCopy p:last-child{
        display: none;
    }
    .characters .inner .characterInfo{
        width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .characters .inner .characterInfo ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .characters .inner .characterInfo ul li {
        width: 45%;
        transition: all 0.25s ease-in;
    }
    .characters .inner .characterInfo ul li:nth-child(even){
        margin-top: 0;
    }
    .characters .inner .characterInfo ul li:hover{
        transform: translateY(0px);
    }
    /* gallery */
    .gallery .gallerySlide{
        margin-top: 5%;
    }
    .gallery .gallerySlide .mainImg{
        width: 75%;
        justify-content: center;
    }
    .gallery .gallerySlide .mainImg img{
        width: 100%;
    }
    .gallery .gallerySlide .mainImg .galleryBtn{
        width: 8%;
        height: 130%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .gallery .gallerySlide .mainImg .galleryBtn a{
        transform: rotate(90deg);
    }
    .gallery .gallerySlide .secondImg{
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    @keyframes next{
        0%{
            transform: translateY(-10%);
            opacity: 0;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    @keyframes prev{
        0%{
            transform: translateY(10%);
            opacity: 0;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .gallery .gallerySlide .secondImg img{
        width: 320px;
        height: 175px;
        float: none;
    }
}
/* mobile */
@media all and (max-width: 720px){
    /* header */
    header{
        height: 13%;
        margin-top: 0;
        padding: 0 5%;
    }
    header .menuToggleBtn {
        display: block;
        width: 34px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 50;
        transition: .35s;
    }
    header .menuToggleBtn span{
        width: 100%;
        height: 2px;
        background: #fff;
        transition: .35s;
        transform-origin: 13% 13%;
    }
    header .gnb{
        width: 40vw;
        height: 100vh;
        padding: 150px 5%;
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0,.8);
        transform: translateX(100%);
        transition: .35s;
    }
    header .gnb ul li{
        padding: 8% 0;
    }
    header .menuToggleBtn.active span:nth-child(1){
        transform: rotate(45deg);
    }
    header .menuToggleBtn.active span:nth-child(2){
        opacity: 0;
    }
    header .menuToggleBtn.active span:nth-child(3){
        transform: rotate(-45deg);
    }
    header .gnb.active{
        transform: translateX(0);
    }
    .rightNav{
        display: none;
    }
    /* section common */
    section .inner{
        width: 80%;
        padding: 160px 0;
    }
    section .inner .subCopy h2{
        font-size: 35px;
    }
    /* main */
    .main{
        background: url("../img/back_01_mobile.jpg") no-repeat center 40%/cover;
    }
    .main::after{
        background: rgba(0,0,0,0.1);
    }
    .main video{
        display: none;
    }
    .main .mainCopy{
        width: 80%;
        left: calc(50% - 40%);
        top: calc(50% - 25%);
    }
    .main .mainCopy span{
        margin-bottom: 18px;
    }
    .main .mainCopy span:nth-child(1),
    .main .mainCopy span:nth-child(2){
        font-size: 50px;
    }
    .main .mainCopy span:nth-child(1) .mainup:nth-child(2){
        margin-right: 0;
    }
    .main .mainCopy span:nth-child(3),
    .main .mainCopy span:nth-child(4){
        font-size: 76px;
    }
    .main::before{
        width: 22px;
        height: 20px;
        background: url("../img/icon/scroll_down_mobile2.png")no-repeat center center/contain;
        bottom: 4%;
    }
    /* trailers */
    .trailers .inner{
        padding: 180px 0;
    }
    .trailers .inner .subCopy p{
        font-size: 24px;
    }
    .trailers .inner .trailersMedia {
        width: 90%;
        margin: 30px 0 20px;
    }
    /* characters */
    .characters .subCopy p{
        display: none;
    }
    .characters .inner .characterInfo{
        width: 60vw;
        margin: 0 auto;
        padding-top: 0;
        position: relative;
    }
    .characters .inner .characterInfo div{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

    }
    .characters .inner .characterInfo ul{
        width: 100%;
        padding: 0;
        position: absolute;
        left: 0;
        transition: 0.5s;
    }
    .characters .inner .characterInfo ul li {
        width: 100%;
        position: absolute;
    }
    .characters .inner .characterInfo ul li img{
        width: 100%;
    }
    .characters .inner .characterInfo .characterBtn {
        width: 78vw;
        height: 30px;
        display: block;
        position: absolute;
        left: calc(50% - 39vw);
        top: calc(50% - 15px);
        overflow: hidden;
        z-index: 100;
    }
    .characters .inner .characterInfo .characterBtn .btn{
        float: right;
        width: 20px;
        height: 30px;
        background: url("../img/icon/characters_arrow.png") no-repeat right center/cover;        
    }
    .characters .inner .characterInfo .characterBtn .b1{
        float: left;
        background: url("../img/icon/characters_arrow.png") no-repeat left center/cover;        
    }
    /* gallery */
    .gallery .gallerySlide .mainImg{
        width: 95%;
    }
    .gallery .gallerySlide .secondImg{
        height: 55vh;
    }
    .gallery .gallerySlide .secondImg img{
        width: 260px;
        height: 142px;
    }
}