@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@font-face{
    font-family:"netflix";
    src:url("../bebas-neue.woff") format("woff");
}
.loadImg {
    width: 100%;
    height: 100vh;
    padding-top: 35vh;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 1;
    transition: .7s ease-in-out;
}
.loadImg video {
    width: 40%;
    display: block;
    margin: 0 auto;
}
/* pc */
#wrap {
    width: 100%;
}
/* header */
header {
    width: 100%;
    height: 220px;
    margin-top: 50px;
    padding: 0 10%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menuToggleBtn {
    display: none;
}
header #gnb ul {
    text-align: right;
}
header #gnb ul li {
    display: inline-block;
    margin-left: 50px;
}
header #gnb ul li a {
    padding: 2% 0;
    font-weight: bold;
    color: #a5a5a5;
    transition: 0.5s;
}
header #gnb ul li:hover a {
    color: #c00000c5;
}
/* section common*/
section {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transform: translateY(0);
    transition: 0.8s ease-out;
}
section .inner{
    width: 70%;
    margin: 0 auto;
    padding: 230px 0;
    overflow: hidden;
}
section .inner .subCopy{
    color: #fff;
}
section .inner .subCopy h2{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
}
section .inner .subCopy p{
    line-height: 1.5em;
}
section .inner .viewBtn a{
    display: inline-block;
    padding: 10px 5px;
    position: relative;
    color: #fff;
    font-size: 14px;
    transform: translateX(-100%);
    opacity: 0.5;
    transition: .35s;
}
section .inner .viewBtn a::before{
    width: 50px;
    height: 1px;
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    right: -56px;
    top: 50%;
}
section .inner .viewBtn a::after{
    width: 10px;
    height: 1px;
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    right: -56px;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(45deg);
}
section .inner .viewBtn a:hover{
    opacity: 1;
    transform: translateX(0%);
}
/* main */
.main{
    z-index: 50;
}
.main::after{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.main video{
    height: 100%;
    transform: scale(1.5);
}
.main .mainCopy{
    width: 60%;
    position: absolute;
    left: calc(50% - 30%);
    top: 35%;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    font-family:"netflix";
}
.main .mainCopy p{
    margin-bottom: 30px;
    text-align: center;
}
.main .mainCopy span{
    display: inline-block;
    padding-top: 130px;
    animation: mainup 1s forwards;
}
@keyframes mainup{
    100%{
        padding-top: 0px;
    }
}
.main .mainCopy p:nth-child(1){
    font-size: 70px;
    opacity: .5;
}
.main .mainCopy p:nth-child(1) span:nth-child(2){
    margin: 0 10px;
}
.main .mainCopy p:nth-child(2){
    font-size: 120px;
}
.main .mainCopy p span{
    color: #fff;
}
.main::before {
    display: block;
    content: "";
    width: 22px;
    height: 65px;
    background: url("../img/icon/scroll_down.png") no-repeat center center/contain;
    position: absolute;
    left: calc(50% - 11px);
    bottom: 2%;
    z-index: 5;
    animation: scroll 0.5s 0.2s alternate infinite ease-in-out;
}
@keyframes scroll {
    100% {
        margin-bottom: 1%;
    }
}
/* tralers */
.trailers{
    z-index: 40;
    background: url('../img/back_02.jpg');
}
.trailers .inner{
    padding: 290px 0;
}
.trailers .trailersMedia{
    width: 50%;
    float: right;
}
.trailers .trailersMedia video{
    width: 100%;
}
.trailers .inner{
    position: relative;
}
.trailers .inner .subCopy{
    float: left;
}
.trailers .inner .subCopy p{
    font-size: 30px;
}
.trailers .viewBtn{
    position: absolute;
    left: 0;
    top: 480px;
}
/* characters */
.characters{
    z-index: 30;
    background: url('../img/back_03.jpg');
}
.characters .inner .subCopy p{
    margin-top: 35px;
}
.characters .characterInfo{
    width: 100%;
}
.characters .inner .characterInfo ul{
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.characters .inner .characterInfo ul li {
    width: 23%;
    transition: all 0.25s ease-in;
}
.characters .inner .characterInfo ul li:nth-child(even){
    margin-top: 60px;
}
.characters .inner .characterInfo ul li:hover{
    transform: translateY(-15px);
}
.characters .inner .characterInfo ul li img{
    width: 90%;
}
.characters .inner .characterInfo ul li span{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #fbb74d;
}
/* gallery */
.gallery{
    z-index: 20;
    background: url('../img/back_04.jpg');
}
.gallery .galleryInner{
    width: 100%;
}
.gallery .galleryInner .selectImg{
    width: 50%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
.gallery .galleryInner ul{
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.gallery .galleryInner ul li{
    width: 25%;
    overflow: hidden;
    position: relative;
    transition: .5 ease-in-out;
}
.gallery .galleryInner ul li:after{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) ;
    /* url('../img/icon/gallery_mag.png') no-repeat center center */
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.gallery .galleryInner ul li img{
    width: 100%;
    filter: saturate(0%);
    transition: .5s ease-in-out;
}
.gallery .galleryInner ul li:hover img {
    transform: scale(1.1);
}
.gallery .galleryInner ul li:hover:after{
    opacity: 1;
}
/* leftnav */
.leftNav {
    position: fixed;
    left: 10%;
    bottom: 15%;
    z-index: 100;
}
.leftNav ul{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.leftNav ul li a {
    text-indent: -9999px;
    width: 18px;
    height: 18px;
    opacity: 0.6;
    background: url("../img/icon/left_nav_icon.png") no-repeat left center/cover;
}
.leftNav ul li a:hover {
    opacity: 0.8;
    background-image: url("../img/icon/left_nav_hover.png");
}
.leftNav ul li:nth-child(2) a {
    background-position: 49% center;
}
.leftNav ul li:nth-child(3) a {
    background-position: 97% center;
}
/* right nav */
.rightNav {
    position: fixed;
    right: 5%;
    bottom: 35%;
    z-index: 100;
}
.rightNav span {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 26px;
    cursor: pointer;
}
.rightNav span:hover {
    background: #c00000;
}
.rightNav span.backRed {
    background: #c00000;
}
/* footer */
footer {
    position: fixed;
    left: 10%;
    bottom: 11%;
    z-index: 100;
}

footer p {
    color: #676767;
    font-weight: 100;
    font-size: 14px;
}